<div class="multi-select">
  <div class="select-box" ng-click="vm.toggleDropdown()">
    <span ng-class="{'default-text': !vm.selectedNamesCache}">{{ vm.selectedNamesCache || vm.defaultText }}</span>
  </div>
  <div class="dropdown" ng-show="vm.dropdownOpen">
      <div ng-if="!vm.items || vm.items.length === 0" class="dropdown-item" ng-disabled="true">
          No options
      </div>
      <div class="dropdown-item" 
           ng-repeat="item in vm.items" 
           ng-click="vm.toggleSelection($event, item)">
          <input type="checkbox" ng-if="!vm.singleSelect" ng-checked="vm.isSelected(item)" /> {{ item.name }}
      </div>
  </div>
</div>