.multi-select {
  position: relative;
  user-select: none;


  .error-message {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .has-error {
    border-color: #e74c3c;
  }
  
  .arrow {
    margin-left: 10px;
  }
}

.select-box {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 8px;
  background: #F4F4F4;
  border: 1px solid #BEBEBE;
  border-radius: 4px;
  cursor: pointer;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.default-text {
      color: #889699;  
    }
  }
}

.dropdown {
  position: absolute;
  width: 400px;
  background: #F4F4F4;
  border: 1px solid #BEBEBE;
  border-radius: 4px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;

  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background: #dad9d9;
      color: black;
    }

    input[type="checkbox"] {
      margin: 0 5px 0 0;
    }
  }

  .search-input {
    width: calc(100% - 20px) !important;
    margin: 10px;
    padding: 8px;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
  }
}
