<div class="book-container" ng-controller="BookListController as mainCtrl">
  <div class="book-tool-container">
      <span class="total-books">Total Books: {{mainCtrl.totalBooks}}</span>
      <div class="search-container">
        <input type="text" class="search-bar" ng-model="mainCtrl.searchQuery" placeholder="Search books..." ng-change="mainCtrl.searchBooks()" />
        <i class="fas fa-search search-icon"></i>
      </div>

      <button class="add-button" ng-click="mainCtrl.openBookModal()">Add</button>
  </div>

  <book-form></book-form>
  
  <div class="book-list-container">
      <custom-table
          headers="['Title', 'ISBN', 'Authors']"
          rows="mainCtrl.books"
          on-edit="mainCtrl.editRow(row)"
          on-delete="mainCtrl.deleteRow(row)"
          on-books="mainCtrl.viewBooks(row)"
          show-edit="true"
          show-delete="true"
          show-books="false"
          current-page="mainCtrl.currentPage"
          total-pages="mainCtrl.totalPages">
      </custom-table>
  </div>


  <div ng-if="mainCtrl.showConfirmationPopup">
    <confirmation-popup 
      message="Are you sure you want to delete this book?"
      on-confirm="mainCtrl.confirmDelete()" 
      on-cancel="mainCtrl.cancelDelete()">
    </confirmation-popup>
  </div>
</div>
