<div ng-if="vm.showModal" class="modal author-modal">
  <div class="modal-content">
    <h2>{{ vm.isEdit ? 'Edit Author' : 'Add Author' }}</h2>
    <form name="authorForm" ng-submit="vm.submitForm(authorForm)" novalidate>
      <div>
        <input type="text" id="lastName" name="lastName" ng-model="vm.author.lastName" placeholder="Last Name" required ng-pattern="/^[a-zA-Z]+$/" />
      </div>
      <div>
        <input type="text" id="firstName" name="firstName" ng-model="vm.author.firstName" placeholder="First Name" required ng-pattern="/^[a-zA-Z]+$/" />
      </div>
      <div>
        <textarea id="biography" name="biography" ng-model="vm.author.biography" placeholder="Biography" required></textarea>
      </div>
      <div class="buttons">
        <button class="close-btn" ng-click="vm.closeModal()" type="button">CLOSE</button>
        <button class="save-btn" type="submit" ng-disabled="authorForm.$invalid || !authorForm.lastName.$valid || !authorForm.firstName.$valid" ng-class="{'disabled-btn': authorForm.$invalid || !authorForm.lastName.$valid || !authorForm.firstName.$valid}">SAVE</button>
      </div>
    </form>
  </div>
</div>
