.add-button {
    background-color: #186879;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    width: 160px;
    text-align: center;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    outline: none !important;
}


.save-btn {
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 25px;
  }

.close-btn {
    margin-top: 15px;
    background: #F4F4F4;
    border: 1px solid #BEBEBE;
    color: #000000;
    padding: 6px 25px;
}